*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica;
}

.link-referencia {
  background-color: rgb(240, 199, 16);
  color: #000;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin: 20px;
}

.link-referencia:hover {
  text-decoration: wavy;
  color: rgb(120, 69, 168);
  background-color: rgb(78, 0, 0);
}

.contenedor-principal {
  text-align: center;
  height: 100vh;
}

/* .contenedor-principal p {
  font-size: 18px;
  width: 400px;
} */
.contenedor-clases{
  height: 100vh;
  background-color: rgb(71, 121, 196);

}
.lista-semanas{
  margin: 40px;
  padding: 40px;
  list-style: none;
}
h3 {
  font-size: 3em;
  margin: 20px;
}
.divisor {
  margin: 20px;
  height: 4px;
  background-color: black;
  border: none;
  border-radius: 12px;
}

.listas-semanas li{
  height: 40px;
  padding: 60px;
  list-style: none;
}

.imagen-perfil {
  border-radius: 50%;
  border: 2px solid rgb(216, 137, 47);
  margin: 10px;
}

.btn-github {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px;
  color: #000;
  text-decoration: none;
}
 .imagen-programador {
   border-radius: 12px;
   margin-top: 40px;
 }